.errorMessage {
  color: #dc3545;
  border-color: #dc3545;
  font-size: 12px;
}

.loginWrapper {
  padding-top: 4rem;
  height: 100%;
}

.alertDanger {
  padding: 12px;
  color: #a94442;
  background: #f2dede;
  border: solid 1px #ebccd1;
  border-radius: 9px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.textField {
  padding: 10px;
  font-size: 12px;
  width: 14rem;
  border-radius: 5px;
  border: 1px solid silver;
}

.textField:focus {
  outline: none;
  border: 1px solid #3498db;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
}

.isInvalid {
  padding: 10px;
  font-size: 12px;
  width: 14rem;
  outline: #dc3545;
  border: 1px solid #dc3545;
  border-radius: 5px;
}


.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.iconWrapper {
  background-color: #52CAC6;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconWrapper svg {
  fill: white;
}