.termsConditionsHeader {
  height: 50px;
  background: #084e87 0% 0% no-repeat padding-box !important;
  color: white !important;
  display: flex;
}

.termsConditions h4 {
  color: white;
  padding-left: 1.5rem;
}

.justify-content-center {
  justify-content: center !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.text p {
  color: #858796;
}

.text h4 {
  color: #858796;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.termsConditionsBackBtn {
  display: flex;
  justify-content: space-between;
}

.termsConditions {
  width: 100%;
}

.backBtnTerms {
  margin-right: 5px;
}

.backBtnTerms::after {
  font-family: FontAwesome;
  font-style: normal;
  margin-left: 2px;
  content: "\f0a8";
}

.back-button {
  color: black;
  display: flex;
  /* padding-left: 1rem; */
  align-content: flex-end;
  align-items: flex-end;
  font-size: 22px;
}

.termsConditionsHeader a {
  display: flex;
  align-items: center;
}