.changePasswordContainer {
  display: flex;
  justify-content: center;
  padding-top: 10rem;
}

.changePasswordContent {
  width: 50%;
}

.changePasswordHeader {
  background: #c1dbef 0 0 no-repeat padding-box;
  padding: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.changePasswordWrapper {
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
  display: flex;
  justify-content: center;
  /* width: 100%; */
}

.changePasswordWrapper label {
  padding-top: 10px;
}

.changePasswordWrapper form {
  width: 90%;
}

/* .alert {
  text-align: center;
} */

.btn {
  color: #fff;
  background: #1a73ba 0 0 no-repeat padding-box;
  font-size: 2rem;
  border-style: none;
  border-radius: 10px;
  width: 12rem;
}

.btn:focus {
  outline: none;
}

.submit_div{
  padding-top: 8px;
}