.content {
    grid-area: c;
    padding: 1rem;
    padding-left: 2rem;
}

.chartsWrapper {
    display: flex;
    /* height: 10rem; */
}

.chart1, .chart2, .chart3, .chart4 {
    width: 50rem;
}

.dashboard {
    display: flex;
    flex-direction: column;
}