.container {
    flex: 1;
}

.errorMessage {
    color: red;
    border-color: red;
    font-size: 12px;
}

.loginWrapper {
    background-image: url("./../../Assets/images/LoginPageBg.png");
    height: 100vh;
    display: flex;
    background-repeat: no-repeat;
}

.loginPageLineBg {
    background-image: url("./../../Assets/images/LinesBg.png");
    flex: 1;
    position: relative;
    background-repeat: no-repeat;
}

.logoImgDiv {
    position: absolute;
    top: 45%;
    left: 35%;
}


.loginSide {
    background-color: #f0f1f5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alertDanger {
    padding: 12px;
    color: #a94442;
    background: #f2dede;
    /* border-color: #ebccd1; */
    border: solid 1px #ebccd1;
    border-radius: 9px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.textField {
    padding: 10px;
    font-size: 12px;
    width: 14rem;
    border-radius: 5px;
    border: 1px solid silver;
}

.textField:focus {
    outline: none;
    border: 1px solid #3498db;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
}

.isInvalid {
    padding: 10px;
    font-size: 12px;
    width: 14rem;
    outline: red;
    border: 1px solid #f00;
    border-radius: 5px;
}

.login_header h2 {
    color: white;
    text-align: left;
}


.form_div {
    background-color: white;
    padding: 80px;
    margin-top: 10%;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00000029;
}

.submit_div {
    text-align: center;
    padding-top: 30px;
}


.button {
    /* width: 40%; */
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    padding: 10px 40px 10px 40px;
    color: white;
    background-color: #337ab7;
    cursor: pointer;
    margin: 0 auto;
}

.button:hover {
    background-color: #286090;
}

.headerName {
    font-size: 28px;
    color: #c71739;
}

.loginForm {
    flex: 2;
}

.headerName {
    flex: 1;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5rem;
}

.buttonDiv {
    display: flex;
    justify-content: space-between;
    padding-left: .5rem;
    padding-right: .5rem;
}