@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
/* .sideBarIcons {
  font-size: 2rem;
} */

.sideBarIcons {
  display: table-cell;
  width: 24px;
  height: 16px;
  text-align: center;
  vertical-align: middle;
  font-size: .5rem;
  margin-right: 1rem
}

.sideBarItemsUl {
  display: flex;
  flex-direction: column;
  min-height: 29rem;
}

.main-menu {
  padding-top: 2rem;
  overflow: visible;
  background: #52CAC6;
  min-height: calc(100vh - 60px);
  width: 18rem !important;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  border-top-right-radius: 25px;
  margin-bottom: 0;
  list-style: none;
  justify-content: space-between;
}

.hideMainMenu {
  width: 12rem !important;
}

.hideMainMenu li>a {
  text-align: center !important;
}

.main-menu>ul {
  margin: 7px 0;
}

.main-menu li {
  display: block;
  height: 5rem;
}

.main-menu li>a {
  align-items: center;
  justify-content: space-around;
  display: flex;
  width: 100%;
  color: white;
  height: 5rem;
  padding-left: 10px;
  font-family: arial;
  font-size: 1.5rem;
  text-decoration: none;
  transform: translateZ(0) scale(1, 1);
  transition: all 0.1s linear;
}

.main-menu .nav-text {
  display: table-cell;
  vertical-align: middle;
  width: 190px;
}

.nav-text-hide {
  display: table-footer-group;
}

a:hover, a:focus {
  text-decoration: none;
}

nav ul, nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.search:hover, .usersListEnable:hover, .dashboard:hover {
  color: #fff;
  background: linear-gradient(#52CAC6, #52C9C9, #56BCED);
}

.menu {
  grid-area: m;
}

.sideToggleBtn {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  vertical-align: middle;
}

.sideToggleBtn:focus {
  outline: none;
}

.sideToggleDiv {
  text-align: center;
  margin-top: 10rem;
}

.sideToggleBtn::after {
  font-weight: 900;
  color: white;
  font-size: 2rem;
}

#hideMenu::after {
  font-family: FontAwesome;
  font-style: normal;
  content: "\f0a8";
}

#showMenu::after {
  font-family: FontAwesome;
  font-style: normal;
  content: "\f0a9";
}

.sideToggleBtn:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.usersList, .notifications {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  color: white;
}

.usersList a, .notifications a {
  cursor: not-allowed !important;
}

.active {
  color: #fff;
  background: linear-gradient(#52CAC6, #52C9C9, #56BCED);
  cursor: auto;
}

.notifications {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
  padding-left: 10px !important;
}

.notifications span {
  font-size: 1.5rem !important;
}