.content {
    padding: 1rem;
    padding-left: 2rem;
}

.chartsWrapper {
    display: flex;
    justify-content: space-around;
    /* height: 10rem; */
}

.chart1, .chart2, .chart3, .chart4, .lineChart {
    width: 25%;
    margin-right: 4rem;
    margin-bottom: 2rem;
}

.dashboard {
    display: flex;
    flex-direction: column;
}

.subjectsCard {
    min-width: 19%;
    border-radius: 7px;
    border: 1px solid #e3e6f0;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    background-color: #fff;
}

.cardHeader {
    width: 100%;
    background: #88c1ec 0 0 no-repeat;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    padding: 5px 10px 3px;
    color: white;
}

.data-table-extensions {
    padding-bottom: 2.5rem !important;
}