.header {
  height: 50px;
  width: 100%;
  background: #F0F1F5;
  flex-flow: row nowrap;
  position: relative;
  display: flex;
  /* align-items: center; */
  box-shadow: 30px 1px 10px 1px #ccc;
  justify-content: space-between;
}

.header li {
  list-style: none;
  /* padding-left: 1rem; */
}


.logoDiv {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.heamoneticsLogo {
  width: 180px;
  height: 15px;
  margin-right: 15px;
}

.drop {
  color: white;
  padding-right: 25px;
}


.logoutIcon {
  width: 38px !important;
  height: 20px !important;
  align-items: center;
  display: flex !important;
  justify-content: center;
  text-align: center !important;
  vertical-align: middle !important;
  font-size: 15px !important;
}

.drop-down-a {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: arial;
  font-size: 15px;
  text-decoration: none;
  transform: translateZ(0) scale(1, 1);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.logout {
  cursor: pointer;
}

.dropDownMenu {
  position: absolute;
  top: 55px;
  right: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
  z-index: 100000;
}

.navLink {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  padding: 3px;
}

.navLink span {
  padding-left: .5rem;
  color: #FF8111;
}

.dropDownMenu .navLink:hover {
  background-color: rgba(194, 191, 191, 0.233);
}

.headerDropDown {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.userNameDiv {
  padding-right: 5px;
  cursor: pointer;
  color: rgb(23, 43, 77);
  font-weight: 600;
}

.menuSide {
  background-color: #F0F1F5;
  flex: 1;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 24px;
  justify-content: space-between;
}

.menuItemsUl {
  display: flex;
}

.menuItemIcons {
  fill: #FF8111;
}

.navLink {
  color: #FF8111;
  height: 100%;
  padding: 0 5px 0 5px;
  min-width: 7rem;
  display: flex;
  justify-content: center;
}

.active {
  background-color: #FF8111;
  color: #F0F1F5;
  height: 100%;
  padding: 0 5px 0 5px;
  min-width: 7rem;
  display: flex;
  justify-content: center;
}

.active span {
  color: white;
}

.active svg {
  fill: white;
}
.firstActive {
  background-color: #FF8111;
  color: #F0F1F5;
  height: 100%;
  padding: 0 5px 0 5px;
  border-bottom-left-radius: 24px;
  min-width: 7rem;
  display: flex;
  justify-content: center;
}

.firstActive span {
  color: white;
}

.firstActive svg {
  fill: white;
}


.menuItemsUl, .menuItemsUl {
  height: 100%;
}

.helpDiv {
  color: #FF8111;
  padding-right: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.helpDiv span {
  padding-right: .2rem;
}

.dropDownIcon {
  fill: white !important;
}


.navLinkDropDow {
  display: flex;
  align-items: center;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: arial;
  font-size: 15px;
  text-decoration: none;
  transform: translateZ(0) scale(1, 1);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  padding: 0.3rem;
}

.navLinkDropDow:hover {
  background-color: rgb(242, 244, 246);
  padding: 0.3rem;

}

.navLinkDropDow span {
  padding-left: 0.2rem;
}

/* .menuItemLi {
  padding-left: 1rem;
} */