.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

footer.sticky-footer {
  padding: 1rem 0;
  flex-shrink: 0;
}

.bg-white {
  background-color: #fff !important;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.pl-3, .px-3 {
  padding-left: 1rem !important;
}

.pr-3, .px-3 {
  padding-right: 1rem !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.d-flex {
  display: flex !important;
}

.text-underline {
  padding-right: 1rem;
  text-decoration: underline;
}